body {
  font-family: Arial, sans-serif;
}

.app {
  width: 300px;
  margin: auto;
  text-align: center;
}

#new-task-input, #add-task-button {
  margin-top: 20px;
}

#tasks-container {
  margin-top: 20px;
  text-align: left;
}
